
.footer-container {
	background-color:$third;
    width: 100%; 
}

.logo.footer  {
	margin-left: 5px;
	font-size: 25px;
	font-weight: 900;
	text-transform: uppercase;
	border: 2px solid $accent;
	max-width: 110px;
	text-align: center;
	padding: 8px;
	font-family: $font-family-main;
	color: $primary;
}

.footer-contact-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.footer-wrap {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding-bottom: 80px;
}

.footer-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: calc(33.3333% - 20px);
	padding-top: 115px;
	margin: 10px;
}

.footer-box h3 p {
    padding-bottom: 15px;
}

.footer-box p {
	color: #d0d0d0;
	text-transform: none;
    padding-top: 20px;
}

.footer-box.one {
	flex-direction: column;
	align-items: baseline;
	padding-left: 30px;
}

.footer-box.one p a {
	text-decoration: none; 
	color: #d0d0d0;
	text-transform: lowercase;	
}

.footer-box.one p a:hover {
	text-decoration: underline;
}

.footer-box.two p {
    padding-top: 30px;
    padding-bottom: 15px;
    font-style: italic;
    line-height: 25px;
}

.double-key-line.footer {
	text-align: center;
}

.double-key-line.footer-two {
	text-align: center;
}

.footer-box.three {
	flex-direction: column;
	align-items: flex-end;
	text-transform: none;
	padding-right: 30px;
}

.footer-box, .one, .three h3 {
	color: $primary;
	text-transform: uppercase;
	font-family: $font-family-main;
}

.footer-icon-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	position: relative;
	ul {
	display: flex;
	flex-wrap: wrap;
	}
}

.icon-circle {
	position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: $third;
  	border: 1px solid #4c4c4c;
    margin-right: 7px;
    margin-top: 22px;
    transition: .5s;
    font-size: 16px;
}

.icon-circle i {
	color: #ffffff;
	position: absolute;
	padding: 14px;
}

.fa.fa-facebook {
	left: 3px;
}

.icon-circle:hover {
	background-color: $accent;
	position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
  	border: 1px solid $accent;
    margin-right: 7px;
    margin-top: 22px;
    transition: .5s;
    font-size: 16px;
}

.icon-circle i:hover {
	color: $third;
}

.copyright-container {
	background-color: #1a1a1a;  
}

.footer-copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding: 28px;
}

.footer-copyright p {
	font-family: $font-family-main;
	letter-spacing: 2px;
	a {
		text-decoration: none;
		color: $primary;
	}
}

.arrow-up {
	font-size: 30px;
	color: red;
}

@media (max-width: 768px) {

	.footer-container {
		height: none;
	}
	.footer-box.one {
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	}
	.footer-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100% - 20px);
    padding-top: 50px;
	}
	.footer-box.one{
		padding-left: 0px;
	}
	.footer-box.two {
		display: flex;
		    flex-wrap: wrap;
		    justify-content: center;
		    align-items: center;
		    flex-direction: column;
	}
	.footer-box.three {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		text-transform: none;
		padding-right: 0px;
	}
}

@media (max-width: 480px) {
	.logo.footer {
		font-size: 18px;
	}
} 

@media (max-width: 320px) {
	.footer-box.one {
		text-align: center;
	}
	.logo.footer {
		margin: 0 auto;
		font-size: 18px;
	}
	.footer-icon-wrap {
		display: none;
	}
	.footer-box.three {
		text-align: center;
		margin-top: 0px;
	}
} 

