// 
// Colors
// 
$primary: #ffffff;     // white
$secondary: #f5f5f5;  // off-white
$third: #202020;      // off black
$fourth: #3b3b3b;    // lighter black

$accent: #daa66f;    // bronze or brown

$p-color: #585858;  //off black
// 
// Font Size
// 
$font-small: 11px;
$font-inbetween: 14px;
$font-regular: 15px;
$font-medium: 20px;
$font-xl: 100px;

// 
// Font Family
// 
$font-family-main: 'Montserrat', sans-serif;
$font-family-secondary: 'Droid Serif', serif;
