
main {
	background-color: $secondary;
}

.icon {
	width: 70px;
	height: 70px;
	background-color: $accent;
	border-radius: 50%;
	margin: 0 auto;
	position: relative;
	top: -35px;
	box-shadow: 0px 0px 0px 5px rgba(246, 246, 246, 0.2);
}

.anchor img {
	padding: 22px 0px 0px 22px;
}

.who-wrap {
	max-width: 80%;
    margin: 0 auto;
    line-height: 25px;
}

.who-wrap h2 {
    padding-top: 45px;
    padding-bottom: 15px;
}

.who-wrap p {
	padding-top: 40px;
	padding-bottom: 50px;
}

.who-main-image img {
	width: 100%;
}

.welcome-wrap {
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.welcome-wrap, .welcome-image {
	padding-bottom: 140px;
}

.welcome-box {
	height: 570px;
    width: 670px;
    padding: 70px;
    position: absolute;
    top: 50px;
    right: 0px;
    background-color: white;
    text-align: center;
}

.welcome-box h3 {
	font-size: 20px;
	text-transform: uppercase;
	padding-bottom: 15px;
	font-family: $font-family-main;
}

.welcome-box p {
	text-align: left;
	line-height: 25px;
	padding-bottom: 40px;
	padding-top: 20px;
}

.who-skill-image img {
	width: 100%;
}

.smiley img {
	padding: 22px 0px 0px 22px;
}

.welcome-box h4 {
	font-size: $font-regular;
	font-family: $font-family-main;
	text-transform: uppercase;
	padding-bottom: 30px;
}

.welcome-box ul li {
	font-family: $font-family-secondary;
	font-size: 12px;
}

@media (max-width: 1050px) {
	.welcome-box {
	    background-color: rgba(255, 255, 255, 0.8);
	}
}

@media (max-width: 768px){
	.welcome-wrap {
		position: static;
		margin: 0 auto;
	}
	.who-main-image {
		margin: 0 auto;
	}
	.welcome-box {
		position: static;
		margin: 0 auto;
		width: 587px;
	}
}

@media (max-width: 580px) {
	.welcome-wrap {
		padding-bottom: 0px;
	}
	.welcome-box {
		background-color: $secondary;
	}
}

@media (max-width: 480px) {
	.who-main-image {
		padding-bottom: 40px;
	}
	.welcome-box {
		height: 475px;
	}
}

@media (max-width: 400px) {
	.welcome-box {
		width: 100%;
		padding: 20px;
	}
}




